<h1>About This<h1>
<h2>This is my first Ruby on Rails project</h2>
<p>This application provides weekly updates <br>
 and information on the best cheap food you can find in Copenhagen. <br> The criteria is that you can eat good quality food for less than 100DKK. </p>

